# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Flask and Python related
instance/
.webassets-cache
*.log

# SQLite database
*.sqlite3
*.db

# VSCode settings
.vscode/

# Pytest
.cache/

# mypy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Test output
nosetests.xml
coverage.xml
*.cover

# dotenv
.env
*.env

# MacOS
.DS_Store

# PyCharm
.idea/
